:root {
    --red: rgb(255, 51, 36);
    --blue: rgb(0, 100, 200);
    --green: rgb(0, 230, 30);
    --yellow: rgb(189, 217, 47);
    --orange: rgb(235, 151, 62);
    --purple: rgb(156, 83, 224);
    --pink: rgb(230, 0, 173);
    --darkgreen: rgb(45, 69, 49);
    --darkred: rgb(71, 24, 21);
    --background: rgb(30, 30, 30);
}

body {
    margin: 0;
    padding: 0;
    /* font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace; */
}

.title {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    background-color: var(--background);
    width: 500px;
    height: 100vh;
    gap: 0.5rem;
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center;
    flex-grow: 1;
    word-break: break-all; */
    width: 150px;
    height: 220px;
    border-radius: 2%;
}

.flex-item img {
    width: 100%;
    height: auto;
}

.white-bg img {
    width: 100%;
    height: auto;
}

.darkgreen-bg {
    background-color: var(--darkgreen);
    order: 2;
}

.red-bg {
    background-color: var(--red);
}

.blue-bg {
    background-color: var(--blue);
    /* align-self: flex-start; */
    order: 0;
    flex-grow: 5;
}

.green-bg {
    background-color: var(--green);
}

.yellow-bg {
    background-color: var(--yellow);
}

.orange-bg {
    background-color: var(--orange);
    flex-grow: 5;
}

.purple-bg {
    background-color: var(--purple);
    order: 3;
    /* flex-grow: 4; */
}

.pink-bg {
    background-color: var(--pink);
}

.darkred-bg {
    background-color: var(--darkred);
    flex-grow: 5;
}